In [1]:
print('hello World')

hello World

**Step 1 : Data Exploration and Loading**

In [2]:
#importing Liberaries
import pandas as pd

# Mysql toolkit 
import pymysql  #This will work as adapter
from sqlalchemy import create_engine

# Pysql
import psycopg2

In [3]:
df = pd.read_csv('Walmart.csv', encoding_errors='ignore')

df.shape

(10051, 11)

In [4]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05-01-2019,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08-03-2019,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03-03-2019,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27-01-2019,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08-02-2019,10:37:00,Ewallet,5.3,0.48

In [5]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [7]:
#Find All Duplicates
df.duplicated().sum()

np.int64(51)

In [8]:
#Remove the Duplicates 
df.drop_duplicates(inplace=True)

df.duplicated().sum()

np.int64(0)

In [9]:
#Find Null values
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [10]:
#DROPPING ALL THE ROWS WITH MISSING VALUES

df.dropna(inplace=True)

#VERIFY
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [11]:
df.shape

(9969, 11)

In [12]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [13]:
df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)

df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05-01-2019,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08-03-2019,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03-03-2019,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27-01-2019,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08-02-2019,10:37:00,Ewallet,5.3,0.48

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

In [15]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [16]:
df['total'] = df['unit_price'] * df['quantity']

df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05-01-2019,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08-03-2019,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03-03-2019,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27-01-2019,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08-02-2019,10:37:00,Ewallet,5.3,0.48,604.17

In [17]:
# mysql 
# host = localhost
# port = 3306
# user = root
# password = raman.881

In [18]:
# Mysql connection
# create_engine("mysql+pymysql://user:password@localhost:3306/db_name")


engine_mysql = create_engine("mysql+pymysql://root:raman.881@localhost:3306/walmart_db")

try:
    engine_mysql
    print("Connection to Mysql is Successful")
except:
    print("Unable to Connect")

Connection to Mysql is Successful

In [19]:
df.to_sql(name='walmart', con=engine_mysql, if_exists='append', index=False)

9969

In [20]:
# PSQL connection

# create_engine("mysql+psycopg2://user:password@localhost:5432/db_name")

engine_psql = create_engine("postgresql+psycopg2://postgres:raman.881@localhost:5432/walmart_db")

try:
    engine_psql
    print("Connection to PSQL is Successful")
except:
    print("Unable to Connect")

Connection to PSQL is Successful

In [21]:
df.to_sql(name='walmart', con=engine_psql, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Branch" of relation "walmart" does not exist
LINE 1: INSERT INTO walmart (invoice_id, "Branch", "City", category,...
                                         ^

[SQL: INSERT INTO walmart (invoice_id, "Branch", "City", category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total) VALUES (%(invoice_id__0)s, %(Branch__0)s, %(City__0)s, %(category__0)s, %(unit_price__0)s, %(quantity__0)s, % ... 224476 characters truncated ... )s, %(time__999)s, %(payment_method__999)s, %(rating__999)s, %(profit_margin__999)s, %(total__999)s)]
[parameters: {'unit_price__0': 74.69, 'total__0': 522.8299999999999, 'quantity__0': 7.0, 'time__0': '13:08:00', 'profit_margin__0': 0.48, 'Branch__0': 'WALM003', 'rating__0': 9.1, 'category__0': 'Health and beauty', 'payment_method__0': 'Ewallet', 'invoice_id__0': 1, 'date__0': '05-01-2019', 'City__0': 'San Antonio', 'unit_price__1': 15.28, 'total__1': 76.39999999999999, 'quantity__1': 5.0, 'time__1': '10:29:00', 'profit_margin__1': 0.48, 'Branch__1': 'WALM048', 'rating__1': 9.6, 'category__1': 'Electronic accessories', 'payment_method__1': 'Cash', 'invoice_id__1': 2, 'date__1': '08-03-2019', 'City__1': 'Harlingen', 'unit_price__2': 46.33, 'total__2': 324.31, 'quantity__2': 7.0, 'time__2': '13:23:00', 'profit_margin__2': 0.33, 'Branch__2': 'WALM067', 'rating__2': 7.4, 'category__2': 'Home and lifestyle', 'payment_method__2': 'Credit card', 'invoice_id__2': 3, 'date__2': '03-03-2019', 'City__2': 'Haltom City', 'unit_price__3': 58.22, 'total__3': 465.76, 'quantity__3': 8.0, 'time__3': '20:33:00', 'profit_margin__3': 0.33, 'Branch__3': 'WALM064', 'rating__3': 8.4, 'category__3': 'Health and beauty', 'payment_method__3': 'Ewallet', 'invoice_id__3': 4, 'date__3': '27-01-2019', 'City__3': 'Bedford', 'unit_price__4': 86.31, 'total__4': 604.1700000000001 ... 11900 parameters truncated ... 'date__995': '29-01-2019', 'City__995': 'Garland', 'unit_price__996': 97.38, 'total__996': 973.8, 'quantity__996': 10.0, 'time__996': '17:16:00', 'profit_margin__996': 0.48, 'Branch__996': 'WALM005', 'rating__996': 4.4, 'category__996': 'Home and lifestyle', 'payment_method__996': 'Ewallet', 'invoice_id__996': 997, 'date__996': '02-03-2019', 'City__996': 'Fort Worth', 'unit_price__997': 31.84, 'total__997': 31.84, 'quantity__997': 1.0, 'time__997': '13:22:00', 'profit_margin__997': 0.48, 'Branch__997': 'WALM041', 'rating__997': 7.7, 'category__997': 'Food and beverages', 'payment_method__997': 'Ewallet', 'invoice_id__997': 998, 'date__997': '09-02-2019', 'City__997': 'Mission', 'unit_price__998': 65.82, 'total__998': 65.82, 'quantity__998': 1.0, 'time__998': '15:33:00', 'profit_margin__998': 0.33, 'Branch__998': 'WALM095', 'rating__998': 4.1, 'category__998': 'Home and lifestyle', 'payment_method__998': 'Cash', 'invoice_id__998': 999, 'date__998': '22-02-2019', 'City__998': 'Big Spring', 'unit_price__999': 88.34, 'total__999': 618.38, 'quantity__999': 7.0, 'time__999': '13:28:00', 'profit_margin__999': 0.48, 'Branch__999': 'WALM025', 'rating__999': 6.6, 'category__999': 'Fashion accessories', 'payment_method__999': 'Cash', 'invoice_id__999': 1000, 'date__999': '18-02-2019', 'City__999': 'Waco'}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total'],
      dtype='object')

In [ ]:
#Converting coloumns name into lowercase

df.columns = df.columns.str.lower()
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total'],
      dtype='object')